<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cin.d2magicos.instagram_clone.instagram_clone">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
